body{
margin: 0;
padding: 0;
width: 100%;
}
h1 {
  font-family:"Abel";
  font-weight:normal;
  font-size: 55px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}
h3 {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 5px 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

h2.dark{
  font-weight: bold;
  color: #000;
}

h3.dark{
  font-weight: bold;
  color: #000;
  font-family: 'Raleway', serif;
  font-weight: normal;
  font-size: 30px;
  text-align: left;
  margin: 50px auto;
}

.content{
  margin: 0 auto;
}

#header {
  width: 100%;
  position: fixed;
}

#nav {
  background-color: rgba(0,0,0,0.20);
  margin-top: 20px;
  justify-content: center;
}

img.logo{
  float: left;
  margin-top:-15px;
  height: 60px;
}

#logo a {
  color: #fff;
  text-decoration: none;
  padding-left: 50px;
  float: left;
  font-size: 30px;
  margin-top: 16px;
  font-family:"Marvel";
  font-weight: bold; }

#nav ul{
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end;
  margin: 0px;
}

#nav li{
margin: 20px;
font-family: Marvel;
float: left;
padding-left: 20px;
}
#nav li a {
  color: #fff;
  opacity:0.6;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Marvel';
}
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1; }

.quotes {
font-family: 'Raleway', serif;
font-weight: normal;
font-size: 30px;
text-align: left;
margin: 50px auto;
}

.quotes_container { width: 800px; margin: 0 auto; }

#section1, #section2{ width: 100%; }
#section1{
background:url('../img/background00.jpg') 50% 0 no-repeat fixed;
color: #fff;
height: 600px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#section2{
  background-color: #fff;
  color: #333333;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0;
}
#section3{
  background: url(../img/background01.jpg) 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  padding: 170px 0 0 0;
  background-size: cover;
}
#section4{
background-color: #fff;
color: #333333;
height: 300px;
padding: 200px 0;
}
#section5{
background: url(../img/background10.jpg) 50% 0 no-repeat fixed;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}

.img_container {
    display: flex;
    flex-wrap: wrap;

    padding: 5px;
    justify-content: center;
}

.item {
  width: 20%;
  margin: 5px;
}
